.header-bar {

    @media (max-width: $screensz1) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        transform: translate(-100%, 0px);
        background-color: rgba(0, 0, 0, 0.7);
        transition: transform 0.3s ease 0s;
        overflow: auto;
        z-index: 2;
    }

    @media (min-width: $screensz1) {
        display: block;
        background-color: #E8EEF1;
    }

    &__wrapper {
        max-width: 100%;
        width: 1024px;
        padding: 0 22px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        height: 40px;
        

        @media (min-width: $screensz2) {
            width: 1600px;
            padding: 0;
            height: 60px;
        }

        @media (max-width: $screensz1) {
            max-width: 80%;
            width: 294px;
            height: 770px;
            flex-direction: column;
            background-color: #fff;
            padding: 9px 28px 0px 16px;
            margin: 0;
            justify-content: flex-start;
        }
    }

    &__menu-list {
        display: flex;
        align-items: center;

        @media (max-width: $screensz1) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__menu-list li {
        margin-right: 18px;

        @media (min-width: $screensz2) {
            margin-right: 30px;
        }

        @media (max-width: $screensz1) {
            width: 100%;
            margin: 0;
            padding: 15px 0;
            border-bottom: 1px solid #E7E7E7;
        }
    }

    &__menu-list li:last-child {
        margin-right: 0;

        @media (max-width: $screensz1) {
            border-bottom: none;
        }
    }

    &__menu-link {
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        color: #2B2A29;

        @media (min-width: $screensz2) {
            font-size: 14px;
        }

        @media (max-width: $screensz1) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__menu-link:hover {
        @media (min-width: $screensz1) {
            text-decoration: underline;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;

        @media (min-width: $screensz2) {
            font-size: 16px;
        }

        @media (max-width: $screensz1) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 64px;
            font-size: 16px;
            line-height: 22px;

        }
    }

    &__tel {
        margin-right: 12px;
        cursor: pointer;

        @media (min-width: $screensz2) {
            margin-right: 34px;
        }

        @media (max-width: $screensz1) {
            margin-bottom: 20px;
        }
    }

    &__tel:hover {
        text-decoration: underline;
    }

    &__email {
        cursor: pointer;
        color: #005DB4;
        @media (max-width: $screensz1) {
            text-decoration: underline;
        }
    }

    &__email:hover {
        text-decoration: underline;
    }

    &__call {
        display: none;
        @media (max-width: $screensz1) {
            display: block;
            margin-top: 140px;
            padding: 11px 35px;
            border: 1px solid #005DB4;
            border-radius: 5px;
        }
    }

    &__call-btn {
        @media (max-width: $screensz1) {
            font-family: 'Exo 2';
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #005DB4;
        }
    }

    &__call-btn i {
        @media (max-width: $screensz1) {
            margin-right: 30px;
        }
    }

    &__close {
        display: none;
    }

    &.active .header-bar__close {
        @media (max-width: $screensz1) {
            position: absolute;
            top: 20px;
            right: 16px;
            width: 51px;
            height: 48px;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        } 
    }

    &.active .header-bar__close i {
        @media (max-width: $screensz1) {
            color: #202020;
            font-size: 20px;
        }
    }
}

.header-bar.active {
    transform: translate(0, 0);
    transition: transform 0.3s ease 0s;
}

.fa-chevron-down {
    font-size: 10px;
    color: #2B2A29;
}